/* Global settings */

* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 10px;
}

/* Header styles */

header {
  background-color: #727C00;
  background-image: url("../images/flywheel.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  height: 142px;
  padding: 20px 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9em;
  margin: 0;
}

nav {
  padding: 10px 40px;
}

nav a {
  color: #000;
  text-align: center;
  background-color: rgba(255,255,255,.3);
  text-decoration: none;
  padding: 15px 55px;
  margin: 0 20px;
  border-radius: 4px;
  display: inline-block;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  background-color: #fff;
}

nav a.active {
  background-color: #fff;
}

/* Aside styles */

aside.left {
  float: left;
  background-color: #727C00;
  width:25%;
  padding: 10px 0;
  height: 100%;
}

aside img {
  background-color: transparent;
  display: block;
  width: 80%;
  border: 1px solid black;
  margin: 20px auto;
}

/* Section styles */

section.right {
  float: right;
  width: 75%;
  padding: 10px;
}

/* Table styles */

table {
  border-spacing: 2px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 14px;
  width: 80%;
}

table tr {
  opacity: .8;
}

table tr:hover {
  opacity: 1;
}

table th {
  padding: 15px 10px;
  text-align: center;
  color: #fff;
  border: 1px solid #B0E247;
  border-bottom-width: 3px;
  border-radius: 4px 4px 0 0;
  text-shadow: 1px 1px 1px #929B43;
  background-color: #727C00;
  background: -webkit-linear-gradient(#91AB55, #929B43);
  background: -o-linear-gradient(#91AB55, #929B43);
  background: -moz-gradient(#91AB55, #929B43);
  background: -linear-gradient(#91AB55, #929B43);
}

table td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #EFEFEF;
  border-radius: 2px;
  background-color: #E4F6D3;
  color: #848484;
  text-shadow: 1px 1px 1px #fff;
}

table th:first-child, table td:first-child {
  text-align: left;
}


