/* put your css code here */

.navbar-brand {
	height: auto;
}

.navbar-brand > img {
	border: 1px solid #000;
}

.navbar-nav li {
	padding: 10px 0;
}

.media,
.media:first-child {
    margin-top: 15px;
}

.thumbnail > img {
    /*max-width: 200px;*/
}

.carousel-inner > .item {
	height: 375px;
	background-color: #000;
}

.carousel-inner > .item > img {
	width: 100%;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
}